@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #495670;
}

body {
  --cal: calc(8.3333% - 1px);
  background: repeating-linear-gradient(
    to left,
    rgba(245, 242, 235, 0) 0 var(--cal),
    #f9f9f917 var(--cal) calc(var(--cal) + 1px)
  );
}

.marquee {
  animation: marqueeAnimation 25s linear infinite;
  width: max-content;
}

.asterisk {
  animation: rotation 3s linear infinite;
  color: white;
}

@keyframes marqueeAnimation {
  100% {
    transform: translateX(-28.5714285714%);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}